body {
    /* Pic from: https://s-media-cache-ak0.pinimg.com/originals/15/e2/99/15e299fed264cbeca9ca94e752d975cb.jpg*/
    background-image: url("background.jpg");
}

.keyboard {
    width: 850px;
    height: 100px;
    margin: 260px auto 200px;

}

.key h2 {
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 16px;
    color: white;
}

.key p {
    font-size: 12px;
    margin: 6px 0;
    color: #ffc600;
}

.key {
    margin: 5px;
    width: 75px;
    height: 75px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.29);
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    text-shadow: 0 0 5px black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}